.idea
generated/*

# local cmake builds
/build
/cmake-build-debug
/build_without_sanitizer

# local config use to test changes
config/_local.conf

# cquery
.vscode
compile_commands.json
cquery_log.txt

